<!DOCTYPE html>
<html>
	<head>
		<title>Angulagar JS Hello World</title>
	</head>
	<body ng-app="">
		
		
		<div ng-controller="ExampleCtrl">
		Filter: <input type="text" name="" value="" placeholder="" ng-model="search">
			<ol>
				<li ng-repeat="friend in friends | filter:search | orderBy: 'age' ">{{friend.name }} {{ friend.age }} {{friend.gender }}</li>
			</ol>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script>
				function ExampleCtrl($scope) {
					$scope.friends  = [
						{name:'John', age:25, gender:'boy'},
						{name:'Jessie', age:30, gender:'girl'},
						{name:'Johanna', age:28, gender:'girl'},
						{name:'Joy', age:15, gender:'girl'},
						{name:'Mary', age:28, gender:'girl'},
						{name:'Peter', age:95, gender:'boy'},
						{name:'Sebastian', age:50, gender:'boy'},
						{name:'Erika', age:27, gender:'girl'},
						{name:'Patrick', age:40, gender:'boy'},
						{name:'Samantha', age:60, gender:'girl'}
					]
					
				}
		</script>
	</body>
</html>
